.form-add-todo {
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(53, 53, 53, 0.5);
}

.form-add-todo form {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-add-todo input {
  width: 30%;
  padding: 10px 10px;
  text-align: center;
  font-size: 15px;
  border: none;
  color: white;
  border-bottom: 1px solid black;
  transition-delay: 2s;
  transition: 0.7s;
  background-color: rgba(51, 51, 51, 0);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: antiquewhite;
  opacity: 1; /* Firefox */
}

.form-add-todo input:focus {
  outline: none;
  width: 60%;
  transition: 0.7s;
}

.form-add-todo button {
  padding: 15px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  width: 15%;
  background-color: aquamarine;
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  transition: 0.3s;
}

.form-add-todo button:last-child {
  background-color: rgb(247, 107, 56);
}

.form-add-todo button:last-child:hover {
  cursor: pointer;
  background-color: rgb(243, 179, 156);
  transition: 0.3s;
}

.form-add-todo button:hover {
  cursor: pointer;
  background-color: rgb(220, 250, 240);
  transition: 0.3s;
}
